.app {
    display: flex;
    flex-direction: row;
}

.cardContainer {
    display: flex;
    flex-direction: column;
}

.graphContainer {
    display: flex;
    flex-direction: row;
}


.timer {
    width:200px;
    height:100px;
    text-align:center;
    line-height:50px;
    color: #ffffff;
    font-size:25px;
    font-family:Helvetica;
    background-color:#310a4b;
    border: 5px solid #310a4b;
    border-radius: 5px;
}

.temperatureCard {
    width:200px;
    height:200px;
    text-align:center;
    line-height:200px;
    color:white;
    font-size:50px;
    font-family:Helvetica;
    background-color:#fb8b24;
    border: 5px solid #fb8b24;
    border-radius: 5px;
}

.humidityCard {
    width:200px;
    height:200px;
    text-align:center;
    line-height:200px;
    color:white;
    font-size:50px;
    font-family:Helvetica;
    background-color:#357266;
    border: 5px solid #357266;
    border-radius: 5px;
}

.temperatureVarianceCard{
    font-family:Helvetica;
    color:white;
    background-color:#634528;
    border: 5px solid #634528;
    border-radius: 5px;
}

.humidityVarianceCard{
    color:white;
    font-family:Helvetica;
    background-color:#c1edcc;
    border: 5px solid #c1edcc;
    border-radius: 5px;
}